<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pusca em Apis</title> <link rel="stylesheet" href="./Style.css">
</head>
<body>
    <div class="aling">
        <h3 class="text">Buscar de Endereço</h3>
        <input type="text" placeholder="Digite o CEP" class="inp" id="cep">
        <input type="text" name="value" id="cidade" class="inp" placeholder="Cidade"  readonly>
        <input type="text" name="value" id="estado" class="inp" placeholder="Estado" readonly>
        <input type="text" name="value" id="bairro" class="inp" placeholder="Bairro"  readonly>
        <input type="text" name="value" id="Logradouro" class="inp" placeholder="Servidão" readonly>
        <button onclick="Realize()" class="btn"> Envie</button>
    </div>
   
<script src="./Javascript.js"></script>
</body>
</html>